git+https://github.com/Pycord-Development/pycord#egg=py-cord[voice,speed]
git+https://github.com/pytube/pytube
aiofiles
google-api-python-client
https://github.com/tasuren/niconico_dl/releases/download/v2.2.7/niconico_dl-2.2.7.tar.gz
psycopg2-binary
ffmpeg-python
pyopenjtalk
scipy
spotipy