
py-cord[voice,speed]==2.0.0b4
git+https://github.com/pytube/pytube
aiofiles
google-api-python-client
https://github.com/tasuren/niconico_dl/releases/download/v2.2.7/niconico_dl-2.2.7.tar.gz
psycopg2-binary
ffmpeg-python
pyopenjtalk
scipy
spotipy